<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="height:500px">

<div style="width:90%;height:90%; margin:4% auto ;border:1px solid red">

    <object id="ctl00_ContentPlaceHolder_Main_testReaderOBJ"
            classid="clsid:C9BC4DFF-4248-4a3c-8A49-63A7D317F404"
            codebase="/css/ofctnewclsid.cab#version=4,0,0,8"
            width="100%"
            height="100%" >
        <param name="BorderStyle" value="0">
        <param name="TitlebarColor" value="#ffffff">
        <param name="TitlebarTextColor" value="#000000">
        <param name="Caption" value="五院信息中心">
        <param name="Menubar" value="0">
        <param name="IsNoCopy" value="1">
        <param name="FilePrint" value="0">
        <param name="FilePrintPreview" value="0">
        <param name="FileClose" value="0">
        <param name="FileNew" value="0">
        <param name="FileOpen" value="0">
        <param name="FileSave" value="0">
        <param name="FileSaveAs" value="0">

        <param name="MakerCaption" value="北京神舟航天软件技术有限公司">
        <param name="MakerKey" value="5E4E4AC6C9566A1F756FCD65D23A0123032FC7C1">
        <param name="ProductCaption" value="神舟航天软件技术有限公司系统">
        <param name="ProductKey" value="4665A18927E6ED1647E8CC2F7E5222F37269AC61">
        <span STYLE="color:red">不能装载文档控件。请在检查浏览器的选项中检查浏览器的安全设置。</span>
    </object>

</div>

<script language="javascript" type="text/javascript">
    NTKO_OCX_OBJ = document.all("ctl00_ContentPlaceHolder_Main_testReaderOBJ");
    NTKO_OCX_OBJ.CreateNew("Word.Document");
    NTKO_OCX_OBJ.OpenFromURL("/css/T_1.doc");
</script>

</body>
</html>