<!DOCTYPE html>
<html lang="en" style="min-width:900px;">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/vender/static/darkblue/css/platform.css"/>
    <link rel="stylesheet" type="text/css" href="/vender/custom/darkblue/uimaker/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/vender/static/darkblue/css/process.css"/>
    <link rel="stylesheet" type="text/css" href="/vender/static/darkblue/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/system/operation_log.css">
</head>
<body>
    <div class="toolbar"></div>
    <table id="excel_table"></table>
</body>
</html>
<script type="text/javascript" src="/vender/custom/green/jquery.min.js"></script>
<script type="text/javascript" src="/vender/custom/green/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/vender/custom/green/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/js/base.js"></script>
<script src="/js/system/operation_log.js"></script>
<script>
    setBodyHeight();
    parent.$(window).resize(function(){
        setBodyHeight();
    });

    //datagrid高度赋值
    function setBodyHeight(){
        var toolbar_height =65;
        var tab_panel_height = parent.$(".tabs-panels").height();
        var rate = toolbar_height/tab_panel_height;
        //rate = Math.round(rate *100)/100;
        $("body").css("height",(1-rate)*100+"%");
    }
</script>