<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/vender/static/darkblue/css/platform.css"/>
    <link rel="stylesheet" type="text/css" href="/vender/custom/darkblue/uimaker/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/vender/static/darkblue/css/process.css"/>
    <link rel="stylesheet" type="text/css" href="/vender/static/darkblue/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
    <!--<link rel="stylesheet" type="text/css" href="/css/system/reset_pw.css"/>-->
</head>
<body>

</body>
</html>
<!--弹窗-->
<div class="dialog-warp" id="rset_panel" style="padding:0 40px">

        <li class="tip">原密码<span style="color:red;">*</span></li>
        <li class="pw_input"><input type="password" id="oldPassword" placeholder="请输入原密码"></li>
        <li class="tip">新密码<span style="color:red;">*</span></li>
        <li class="pw_input"><input type="password" id="newPassword" placeholder="请输入新密码"></li>
        <li class="tip">确认新密码<span style="color:red;">*</span></li>
        <li class="pw_input"><input type="password" id="confirmPassword" placeholder="请再次输入新密码"></li>

</div>
<script type="text/javascript" src="/vender/custom/green/jquery.min.js"></script>
<script type="text/javascript" src="/vender/custom/green/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/js/base.js"></script>
<script src="/js/system/reset_pw.js"></script>