<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/vender/static/darkblue/css/platform.css"/>
    <link rel="stylesheet" type="text/css" href="/vender/custom/darkblue/uimaker/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/vender/static/darkblue/css/process.css"/>
    <link rel="stylesheet" type="text/css" href="/vender/static/darkblue/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
</head>
<body>
    <div id="mmbtn"></div>
    <table id="mmtable"></table>
</body>
</html>
<script type="text/javascript" src="/vender/custom/green/jquery.min.js"></script>
<script type="text/javascript" src="/vender/custom/green/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/vender/custom/green/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/js/base.js"></script>
<script src="/js/memberManage/memberManage.js"></script>