<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>航天器基本信息</title>
	<link rel="stylesheet" type="text/css" href="/vender/static/darkblue/css/base.css"/>
	<link rel="stylesheet" type="text/css" href="/vender/custom/darkblue/uimaker/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="/vender/custom/green/uimaker/icon.css"/>
	<link rel="stylesheet" type="text/css" href="/vender/static/darkblue/css/platform.css"/>
	<link rel="stylesheet" type="text/css" href="/vender/static/darkblue/css/process.css"/>
	<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/css/all.css"/>
	<link rel="stylesheet" type="text/css" href="/css/basicDataQuery/cekongjihua.css"/>
</head>
<body>

<div class="clearfix" style="overflow:visible">
	<div id="tb">
		<select class="ckjhSelect">
			<option value="1">自定义</option>
			<option value="2">最近一天</option>
			<option value="3">最近三天</option>
			<option value="4">最近一周</option>
		</select>

		<input id="stateTime" class="easyui-datetimebox start_time" style="width:200px;height:30px;"/>~<input id="endTime" class="easyui-datetimebox end_time" style="width:200px;height:30px;"/>
		<span class="calendar_box_back" style="left: 13.2%;top: 11px;"></span>
		<span class="calendar_box_back" style="left: 40%;top: 11px;"></span>
		<input class="ckkeywords" type="text" name="name"/>
		<a href="#" class="easyui-linkbutton" iconCls="icon-search" data-options="selected:true" id="ck_query_btn">查询</a>
	</div>
	<div class="toolbar"></div>
</div>
<table id="htqjbxx"></table>

<!--型号代号筛选框-->
<div id="ck_tp_sel">
	<p class="ck_sel_title">筛选</p>
	<p><button id="sort_ace">升序</button><button id="sort_desc">降序</button></p>
	<p class="ck_input_tl"><span>型号代号:&nbsp</span><input type="text" id="sort_search"></p>
	<div class="ck_sel_list">
		<p>
			<input type="checkbox" class="baseCode_select"><a href="#" id="btn_all">全选</a><a id="btn_reverse" href="#">反选</a>
		</p>
		<ul id="selectUl"></ul>
	</div>
	<div class="ck_sel_foot">
		<button id="sorbtn_true">确定</button><button id="sorbtn_cel">取消</button>
	</div>
</div>
<script type="text/javascript" src="/vender/custom/green/jquery.min.js"></script>
<script type="text/javascript" src="/vender/custom/green/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/vender/custom/green/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/js/base.js"></script>
<script src="/js/basicDataQuery/hangtianqijibenxinxi.js"></script>
<script>
    //窗口折叠时iframe自适应：
    setBodyHeight();
    parent.$(window).resize(function(){
        setBodyHeight();
    });

    //datagrid高度赋值
    function setBodyHeight(){
        var toolbar_height =60;
        var tab_panel_height = parent.$(".tabs-panels").height();
        var rate =toolbar_height/tab_panel_height;
        //rate = Math.round(rate *100)/100;
        $("body").css("height",(1-rate)*100-3+"%");
    }
</script>

</body>
</html>

<!--增加/修改弹窗-->
<!--<ul id="htqxxtc" class="dialog-warp" style="padding:0 15px;">-->
<ul id="htqxxtc" class="dialog-warp" style="width:380px !important;padding:0 15px;">
	<li style="margin:8px 0;"><span style="display:inline-block;width:138px;">型号代号</span><input type="text" id="xhdh"></li>
	<li style="margin:8px 0;"><span style="display:inline-block;width:138px;">型号代号(五院)</span><input type="text" id="xhdhwy"></li>
	<li style="margin:8px 0;"><span style="display:inline-block;width:138px;">对外名称</span><input type="text" id="out_name"></li>
	<li style="margin:8px 0;width:340px;"><span style="display:inline-block;width:138px;">发射时间</span><input type="text" id="launch_time"></li>
	<li style="margin:8px 0;"><span style="display:inline-block;width:138px;">考核寿命</span><input type="text" id="khsm"></li>
	<li style="margin:8px 0;">
		<span style="display:inline-block;width:138px;">责任人</span>
		<select name="" id="zrr"></select>
	</li>
	<!--<li style="margin:8px 0;">-->
		<!--<span style="display:inline-block;width:138px;">责任人电话</span>-->
		<!--<select name="" id="zrrtel"></select>-->
	<!--</li>-->
	<li style="margin:8px 0;">
		<span style="display:inline-block;width:138px;">代替人</span>
		<select name="" id="dtr"></select>
	</li>
	<!--<li style="margin:8px 0;">-->
		<!--<span style="display:inline-block;width:138px;">代替人电话</span>-->
		<!--<select name="" id="dtrtel"></select>-->
	<!--</li>-->
	<li style="margin:8px 0;">
		<span style="display:inline-block;width:138px;">在轨型号责任联系人</span>
		<select name="" id="zglxr"></select>
	</li>
	<li style="margin:8px 0;">
		<span style="display:inline-block;width:138px;">在轨技术支持队伍</span>
		<select name="" id="zgzcdw"></select>
	</li>
</ul>