<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htzh.htdxjk.mapper.BckplanMapper">


    <select id="findBySatId" parameterType="String" resultType="Bckplan">
        SELECT
            b.*
        FROM
            htdxjk_bckplan b
            LEFT JOIN htdxjk_bsat bs
            ON b.bckplan_satid = bs.bsat_atpid
        WHERE
            b.bckplan_satid = #{satId}
        ORDER  BY b.bckplan_start_time DESC
    </select>


    <select id="getBckPlanInfo" parameterType="map" resultType="map">
        SELECT
        *
        FROM
        htdxjk_bckplan bck
        LEFT JOIN
        htdxjk_bsat bs
        ON
        bck.bckplan_satid=bs.bsat_atpid
        WHERE
        <![CDATA[
        ((
        bckplan_start_time >= #{startTime}
        AND bckplan_start_time<= #{endTime} )
        OR (
        bckplan_start_time<= #{startTime}
        AND bckplan_end_time >= #{endTime} )
        OR (
        bckplan_end_time >= #{startTime}
        AND bckplan_end_time<= #{endTime} ))
        ]]>
        <if test="bsatCodes !=null and bsatCodes !=''">
        and  bs.bsat_code in ('${bsatCodes}')
        </if>
        <if test="keyword !=null and keyword !=''">
        AND (
        bs.bsat_code LIKE '%${keyword}%'
        OR bckplan_madetime LIKE '%${keyword}%'
        OR bckplan_cnt LIKE '%${keyword}%'
        OR bckplan_devname LIKE '%${keyword}%'
        OR bckplan_is_delete LIKE '%${keyword}%'
        OR bckplan_state LIKE '%${keyword}%')
        </if>
        ORDER BY ${sort} ${order}
        <if test="offset !=null and offset !=''">
            LIMIT ${offset},${rows}
        </if>
    </select>


    <select id="countBckPlanInfo" parameterType="map" resultType="int">
        SELECT
        count(1)
        FROM
        htdxjk_bckplan bck
        LEFT JOIN
        htdxjk_bsat bs
        ON
        bck.bckplan_satid=bs.bsat_atpid
        WHERE
        <![CDATA[
        ((
        bckplan_start_time >= #{startTime}
        AND bckplan_start_time<= #{endTime} )
        OR (
        bckplan_start_time<= #{startTime}
        AND bckplan_end_time >= #{endTime} )
        OR (
        bckplan_end_time >= #{startTime}
        AND bckplan_end_time<= #{endTime} ))
        ]]>
        <if test="bsatCodes !=null and bsatCodes !=''">
            and  bs.bsat_code in ('${bsatCodes}')
        </if>
        <if test="keyword !=null and keyword !=''">
            AND (
            bck.bckplan_satname LIKE '%${keyword}%'
            OR bckplan_madetime LIKE '%${keyword}%'
            OR bckplan_cnt LIKE '%${keyword}%'
            OR bckplan_devname LIKE '%${keyword}%'
            OR bckplan_is_delete LIKE '%${keyword}%'
            OR bckplan_state LIKE '%${keyword}%')
        </if>

    </select>

    <select id="getOneBckById" resultType="map" parameterType="String">
        SELECT
            *
        FROM
            htdxjk_bckplan bck
        LEFT JOIN
            htdxjk_bsat bs
        ON
            bck.bckplan_satid=bs.bsat_atpid
        WHERE bck.bckplan_atpid=#{myid}
    </select>

</mapper>
