<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htzh.htdxjk.mapper.BzbbwlrelMapper">

    <select id="findByBwlId" parameterType="String" resultType="Bzbbwlrel">
        SELECT * FROM htdxjk_bzbbwlrel WHERE bzbbwlrel_bwl_id = #{atpId}
    </select>
</mapper>
