<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htzh.htdxjk.mapper.SpageconfigMapper">

    <select id="getSpageList" parameterType="map" resultType="map">
        SELECT DISTINCT
            sp.bpc_name,
            sp.bpc_flag
        FROM
            htdxjk.htdxjk_spageconfig sp
        WHERE
            sp.bpc_fksuserid=#{userid}
    </select>


    <select id="getOneSpageList" parameterType="map" resultType="map">
        SELECT DISTINCT
            *
        FROM
            htdxjk.htdxjk_spageconfig sp
        WHERE
            sp.bpc_fksuserid=#{userid} and sp.bpc_flag=#{flag}
    </select>
</mapper>
