<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统登录</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login/in.css">
    <link rel="stylesheet" href="/vender/custom/darkblue/uimaker/easyui.css"/>
</head>
<body>
<div class="login">
    <div class="login_hd"></div>
    <ul class="login_body">
        <li class="username">帐号：<input type="text" id="userName" placeholder="账户名" ></li>

        <li class="password">密码：<input type="password" id="password" placeholder="密码" ></li>

        <li class="btn">登&nbsp;&nbsp;录</li>
    </ul>
</div>

<script type="text/javascript" src="/vender/custom/green/jquery.min.js"></script>
<script type="text/javascript" src="/vender/custom/green/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/vender/custom/green/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/js/base.js"></script>
<script type="text/javascript" src="/js/login/in.js"></script>
</body>
</html>