<!DOCTYPE html>
<html lang="en" style="min-width:900px;">
<head>
    <meta charset="UTF-8">
    <title>aa分类管理</title>
    <link rel="stylesheet" type="text/css" href="/vender/static/darkblue/css/platform.css"/>
    <link rel="stylesheet" type="text/css" href="/vender/custom/darkblue/uimaker/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/vender/static/darkblue/css/process.css"/>
    <link rel="stylesheet" type="text/css" href="/vender/static/darkblue/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
</head>
<body>
<div class="toolbar"></div>
<table id="category"></table>
<div class="dialog-warp" id="basicData_dialog">
    <ul>
        <li>分类名称：<input type="text" id="name" placeholder="请输入分类名称"></li>
        <li>修改时间：<textarea id="time" placeholder="请输入修改时间"></textarea></li>
        <li>创&nbsp&nbsp建&nbsp人：<input type="text" id="people" placeholder="请输入创建人"/></li>
    </ul>
</div>
<script type="text/javascript" src="/vender/custom/green/jquery.min.js"></script>
<script type="text/javascript" src="/vender/custom/green/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/vender/custom/green/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/js/base.js"></script>
<script type="text/javascript" src="/js/basicDataQueryManage/category.js"></script>
<script>
    $(function () {


    })
</script>
</body>
</html>