<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>通知管理</title>
    <link href="/vender/static/darkblue/css/platform.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/vender/custom/darkblue/uimaker/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/vender/static/darkblue/css/process.css"/>
    <link href="/vender/static/darkblue/css/base.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
</head>
<body style="height:85%">
<div class="toolbar"></div>
<table id="notice"></table>
<div class="dialog-warp" id="notice_dialog">
    <ul>
        <li>通知类型：<input type="text" id="noticeType" placeholder="请输入通知类型"></li>
        <li>通知描述：<input type="text" id="describe" placeholder="请输入通知描述"></input></li>
        <li>显示时长：<input type="text" id="showTime" placeholder="请输入显示时长"/></li>
    </ul>
</div>
<script type="text/javascript" src="/vender/custom/green/jquery.min.js"></script>
<script type="text/javascript" src="/vender/custom/green/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/vender/custom/green/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/js/base.js"></script>
<script type="text/javascript" src="/js/notice/tongzhiguanli.js"></script>
</body>
</html>