<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/vender/static/green/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/vender/custom/green/uimaker/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/vender/custom/green/uimaker/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/vender/static/green/css/providers.css"/>
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/designerindex/shejishi.css">
</head>
<body>
<div id="main" style="float:left;width:50%;height:400px;">
</div>
<div class="designer_right">
    <div class="designer_con">
        <p class="designer_con_detail countYCSWX">0</p>
        <p class="designer_con_detail2">已超寿卫星（颗）</p>
    </div>
    <div class="designer_con">
        <p class="designer_con_detail countMRJCS">0</p>
        <p class="designer_con_detail2">明日将超寿卫星（颗）</p>
    </div>
    <div class="designer_con">
        <p class="designer_con_detail countJRGGCS">0</p>
        <p class="designer_con_detail2">今日刚刚超寿卫星（颗）</p>
    </div>
    <div class="designer_con">
        <p class="designer_con_detail countZGWXSL">0</p>
        <p class="designer_con_detail2">在轨卫星数据（颗）</p>
    </div>
</div>
<script>
    
</script>
</body>
</html>
<script type="text/javascript" src="/vender/custom/green/jquery.min.js"></script>
<script type="text/javascript" src="/vender/echarts.common.min.js"></script>
<script type="text/javascript" src="/js/base.js"></script>
<script src="/js/designerindex/shejishi.js"></script>